In [1]:
import pandas as pd
import psycopg
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()

True

In [3]:
ENDPOINT=os.environ.get("ENDPOINT")
USER=os.environ.get("USER")
PASS=os.environ.get("PASSWORD")
PORT="5432"
DBNAME="powerplants"

In [4]:
aws_engine = create_engine(f"postgresql+psycopg://{USER}:{PASS}@{ENDPOINT}:{PORT}/{DBNAME}")
aws_conn = f"host={ENDPOINT} port={PORT} dbname={DBNAME} user={USER} password={PASS} sslrootcert={'SSLCERTIFICATE'}"

In [5]:
local_engine = create_engine("postgresql+psycopg://postgres:postgresql@localhost:5432/powerplants")
local_conn = "dbname=powerplants user=postgres password=postgresql"

In [6]:
ou = pd.read_csv('Data/JRC-PPDB-OPEN.ver1.0/JRC_OPEN_UNITS.csv')
op = pd.read_csv('Data/JRC-PPDB-OPEN.ver1.0/JRC_OPEN_PERFORMANCE.csv')
ot = pd.read_csv('Data/JRC-PPDB-OPEN.ver1.0/JRC_OPEN_TEMPORAL.csv')

In [7]:
ou['eic_p'].fillna(ou['eic_g'], inplace=True)
ou['eic_g'].fillna(ou['eic_p'], inplace=True)
ou['type_g'] = ou['type_g'].replace({'Fossil Hard coal': 'Fossil Hard Coal'})
op['eic_g'].fillna(op['eic_p'], inplace=True)
op['eic_p'].fillna(ou['eic_g'], inplace=True)
# ot = ot.sort_values('cyear', ascending=False).drop_duplicates(subset=['eic_p', 'eic_g'])
ot.sort_index(inplace=True)
ot['type_g'] = ot['type_g'].replace({'Fossil Hard coal': 'Fossil Hard Coal'})

In [8]:
ou['year_commissioned'] = ou['year_commissioned'].astype('Int64')
ou['year_decommissioned'] = ou['year_decommissioned'].astype('Int64')

In [9]:
ou.to_csv('Data/JRC-PPDB-OPEN.ver1.0/JRC_OPEN_UNITS_R.csv', index=False)
op.to_csv('Data/JRC-PPDB-OPEN.ver1.0/JRC_OPEN_PERFORMANCE_R.csv', index=False)
ot.to_csv('Data/JRC-PPDB-OPEN.ver1.0/JRC_OPEN_TEMPORAL_R.csv', index=False)

In [15]:
with open('powerplants_db_create.sql', 'r') as file:
        create_db = file.read().replace('\n', ' ')

In [11]:
tables = {
    "UNITS": "JRC_OPEN_UNITS_R.csv",
    "TEMPORAL": "JRC_OPEN_TEMPORAL_R.csv",
    "PERFORMANCE": "JRC_OPEN_PERFORMANCE_R.csv"
}

In [16]:
def upload_tables(cur, tables):
    for name, path in tables.items():
        with open(f'Data/JRC-PPDB-OPEN.ver1.0/{path}', 'r') as f:
            with cur.copy(f"COPY {name} FROM STDIN WITH (FORMAT CSV, HEADER TRUE)") as copy:
                while data := f.read():
                    copy.write(data)

In [17]:
with psycopg.connect(local_conn) as conn:
    
    with conn.cursor() as cur:

        cur.execute(create_db)
        upload_tables(cur, tables)

In [19]:
with psycopg.connect(aws_conn) as conn:
    
    with conn.cursor() as cur:

        cur.execute(create_db)
        upload_tables(cur, tables)

In [20]:
pd.read_sql_query('SELECT * FROM Units LIMIT 5', aws_engine)

,eic_p,eic_g,name_p,name_g,capacity_p,capacity_g,type_g,lat,lon,country,NUTS2,status_g,year_commissioned,year_decommissioned,water_type,cooling_type,water_withdrawal,water_consumption
0,54W-KOMAN0000066,54W-KOMAN-G2008E,KOMANG,KOMANG2,600.0,150.0,Hydro Water Reservoir,42.103,19.822,Albania,AL01,COMMISSIONED,None,None,Freshwater,None,None,None
1,54W-KOMAN0000066,54W-KOMAN-G1007L,KOMANG,KOMANG1,600.0,150.0,Hydro Water Reservoir,42.103,19.822,Albania,AL01,COMMISSIONED,None,None,Freshwater,None,None,None
2,54W-KOMAN0000066,54W-KOMAN-G30097,KOMANG,KOMANG3,600.0,150.0,Hydro Water Reservoir,42.103,19.822,Albania,AL01,COMMISSIONED,None,None,Freshwater,None,None,None
3,54W-KOMAN0000066,54W-KOMAN-G4010H,KOMANG,KOMANG4,600.0,150.0,Hydro Water Reservoir,42.103,19.822,Albania,AL01,COMMISSIONED,None,None,Freshwater,None,None,None
4,54W-FIERZ000001A,54W-FIERZ-G1002P,FIERZAG,FIERZAG1,500.0,125.0,Hydro Water Reservoir,42.251,20.043,Albania,AL01,COMMISSIONED,None,None,Freshwater,None,None,None